{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron text-center">
        <div class="container">
            <h1>Agence lorem ipsum</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto, at, delectus est eum excepturi, fuga fugit in officiis quas quo tenetur! Adipisci deserunt dolorum excepturi nesciunt repellat, sit sunt!</p>
        </div>
    </div>
{% endblock %}
